<section class="section about" id='about'>
    <div class="container">
        <div class="section-box">
            <div class="about-title" data-aos="fade-up">
                <h3 class="section-title">
                    <span class='n-section-title'>01.</span> About me
                </h3>
            </div>
            <!-- <div class="row"> -->
                    <!-- <div class="about-description"> -->
                        <p   data-aos="fade-up" data-aos-duration="1000">
                            I am a <span class="underline2">Full Stack Developer</span> with over <span class="underline2">3 years of experience</span> in creating scalable web applications. Proficient in <span class="underline2">JavaScript, TypeScript, Angular, React, Node.js, and MongoDB</span>  I excel at both frontend and backend development. With a <span class="underline2">Master’s in Computer Science</span> from Rowan University, I am skilled in building efficient systems, optimizing databases, and delivering high-quality code. I am passionate about solving complex problems and working collaboratively to drive innovative solutions. </p>

                   
              
                <p ata-aos="fade-up" data-aos-duration="1000">Some of the technologies that I have worked on include (but are not limited to):</p>

            <!-- </div> -->
           <!-- <div class="row"> -->
            <section class="skills-section" >
                <ul class="skills-list" >
                    <li class="skill-element">
                        <div class="skill-box">
                            <i class="fab fa-angular skill-icon"></i>
                        </div>
                        <span class="skill-name">Angular</span>
                    </li>
                    <li class="skill-element">
                        <div class="skill-box">
                            <i class="fab fa-react skill-icon"></i>
                        </div>
                        <span class="skill-name">React</span>
                    </li>
                    <li class="skill-element">
                        <div class="skill-box">
                            <i class="fab fa-html5 skill-icon"></i>
                        </div>
                        <span class="skill-name">HTML</span>
                    </li>
                    <li class="skill-element">
                        <div class="skill-box">
                            <i class="fab fa-sass skill-icon"></i>
                        </div>
                        <span class="skill-name">(S)CSS</span>
                    </li>
                    <li class="skill-element">
                        <div class="skill-box">
                            <i class="fab fa-js-square skill-icon"></i>
                        </div>
                        <span class="skill-name">JavaScript</span>
                    </li>
                    <li class="skill-element">
                        <div class="skill-box">
                            <i class="fab fa-js-square skill-icon"></i>
                        </div>
                        <span class="skill-name">TypeScript</span>
                    </li>
                    <li class="skill-element">
                        <div class="skill-box">
                            <i class="fab fa-bootstrap skill-icon"></i>
                        </div>
                        <span class="skill-name">Bootstrap</span>
                    </li>
                    <li class="skill-element">
                        <div class="skill-box">
                            <i class="fas fa-random skill-icon"></i> <!-- Use an appropriate icon for RxJs -->
                        </div>
                        <span class="skill-name">RxJs</span>
                    </li>
                    <li class="skill-element">
                        <div class="skill-box">
                            <i class="fas fa-cogs skill-icon"></i>       </div>
                        <span class="skill-name">Redux</span>
                    </li>
                    <li class="skill-element">
                        <div class="skill-box">
                            <i class="fab fa-node skill-icon"></i>
                        </div>
                        <span class="skill-name">Node.js</span>
                    </li>
                    <li class="skill-element">
                        <div class="skill-box">
                            <i class="fas fa-database skill-icon"></i> <!-- Use an appropriate icon for MongoDB -->
                        </div>
                        <span class="skill-name">MongoDB</span>
                    </li>
                    <li class="skill-element">
                        <div class="skill-box">
                            <i class="fas fa-database skill-icon"></i> <!-- Use an appropriate icon for SQL -->
                        </div>
                        <span class="skill-name">SQL</span>
                    </li>
                </ul>
            </section>
           <!-- </div> -->
            
        
        </div>
    </div>
</section>
