/* You can add global styles to this file, and also import other style files */

$Navy         : #FFFAFA     ;
$LightNavy    : #b5e48c;
$LightestNavy : #d0d3d4;
$Slate        : black;
$LightSlate   : #6C4F54 ;
$LightestSlate: black;
$White        : #ffffff;
$Green        : #021526  ;
$GreenOpacity :rgba(46, 204, 113, 0.1);

$MainFont: Calibre,San Francisco,SF Pro Text,-apple-system,system-ui,BlinkMacSystemFont,Roboto,Helvetica Neue,Segoe UI,Arial,sans-serif;
$CodeFont: Fira Code, Consolas, Inconsolata, Menlo, Source Code Pro, Courier New, monospace;
